.heading {

    text-align: center;

    margin-top: 18%;

}

 

.aboutUs {

    text-align: center;

}

 

.heading-1 {

    text-align: center;

    margin-top: 10%;;

    margin-bottom: 50px;

}

 

.comment-Box {

    height: 20px;

}

 

.login-Form {

    margin-top: 40px;

}

 

.heading-2 {

    margin-top: 15%;

    text-align: center;

}