@model IEnumerable<Employee>
 
<h2>Employee List</h2>
<hr>
<div style="text-align:right">
<a asp-controller="Emp" asp-action="Create">Add Employee</a>
</div>
<table class="table">
    <thead>
        <th>
            @Html.DisplayNameFor(e=>e.EmpId)
        </th>
        <th>
            @Html.DisplayNameFor(e=>e.Name)
        </th>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.EmpId</td>
                <td>@item.Name</td>
                <td>
                    <a asp-controller="Employee" asp-action="Display" asp-route-id=item.Id>Display</a>&nbsp;
                </td>                
            </tr>
        }
    </tbody>
</table>
 