<div>
    <form>
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname">
        <br><br>
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname">
        <br><br>
        <label for="user">User Name</label>
        <input type="text" id="user" name="user">
        <br><br>
        <label for="password">Password </label>
        <input type="text" id="password" name="password">
        <br><br>
        <label for="email">Email </label>
        <input type="text" id="email" name="email">
        <br><br>
        
        <button type="submit">Submit</button>
        <br><br>
        <p>Have  Account ? <a href="#" routerLink="/login">Login</a></p>
        <br><br>

    </form>

</div>
