<div class="container jumbotron">
    <table class="table">
        <thead>
            <td>Id</td>
            <td>Name</td>
            <td>YearRelease</td>
            <td>Rating</td>
        </thead>
        <tbody>
            <tr *ngFor="let m of moviedata">
                <td>{{m.id}}</td>
                <td>{{m.name}}</td>
                <td>{{m.yearRelease}}</td>
                <td>{{m.rating}}</td>
                <!-- <td>
                <a routerLink="listmovies">All Movies</a>
            </td> -->
            </tr>
        </tbody>
    </table>
