<h3>Week Days</h3>
<ul *ngFor="let day of weekdays;let i=index">
    <li>{{i+1}}--{{day}}</li>
    
</ul>

<ng-container *ngIf="age>=26;else elseTemplate">
    <b>Suitable for Marriage</b>
</ng-container>
<ng-template #elseTemplate>
    <b>Not Ready</b>
</ng-template> 
<hr>
<ul *ngFor="let day of weekdays">
    <ng-container *ngIf="(day=='sunday' || day=='saturday');else elseTemplate">
        <li style = "color:red">{{day}} is a weekend</li>
    </ng-container>
    <ng-template #elseTemplate>
        <li style = "color:blue">{{day}} is a working day</li>
    </ng-template>

</ul>
<hr>
Id:{{emp.id}}<br>
Name:{{emp.name}}<br>
Salary:{{emp.salary}}<br>
City:{{emp.city}}
<hr>
<h2>Employee Listing</h2>
<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>City</th>
        </thead>
        