@using System.Data
@model  DataTable
<table class="table">
    <tr>
        <td>ID</td>
        <td>carname</td>
        <td>carnum</td>
        <td>variant</td>
        <td>customername</td>
        <td>phonenum</td>
        <td>address</td>
        
        <td></td>
    </tr>
</table>