@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<br>
<br>
<p>Name is @ViewBag.Name</p>
<p>Age is @ViewBag.Age</p>
<hr>
@Html.ActionLink("List Products","List","Product");
<br>
@Html.ActionLink("Add Product","Create","Product");

</div>
